<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">rooot</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bdmatricula</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<mapping resource="/dev/com/matricula/model/alumno.hbm.xml" />
		<mapping resource="/dev/com/matricula/model/anhoescolar.hbm.xml" />
		<mapping resource="/dev/com/matricula/model/apoderado.hbm.xml" />
		<mapping resource="/dev/com/matricula/model/asignacion.hbm.xml" />
		<mapping resource="/dev/com/matricula/model/aula.hbm.xml" />
		<mapping resource="/dev/com/matricula/model/colegio.hbm.xml" />
		<mapping resource="/dev/com/matricula/model/curso.hbm.xml" />
		<mapping resource="/dev/com/matricula/model/docente.hbm.xml" />
		<mapping resource="/dev/com/matricula/model/horario.hbm.xml" />
		<mapping resource="/dev/com/matricula/model/matricula.hbm.xml" />
		<mapping resource="/dev/com/matricula/model/notas.hbm.xml" />
		<mapping resource="/dev/com/matricula/model/parentesco.hbm.xml" />
		<mapping resource="/dev/com/matricula/model/promedio.hbm.xml" />
		<mapping resource="/dev/com/matricula/model/rol.hbm.xml" />
		<mapping resource="/dev/com/matricula/model/rolusuario.hbm.xml" />
		<mapping resource="/dev/com/matricula/model/usuario.hbm.xml" />
	</session-factory>
</hibernate-configuration>
