<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="alumnoBean" class="dev.com.matricula.bean.AlumnoBean"
		scope="session">
		<property name="alumnoService" ref="alumnoServiceImpl" />
	</bean>
	<bean id="consultaAlumnoBean" class="dev.com.matricula.bean.ConsultaAlumnoBean"
		scope="session">
		<property name="consultaAlumnoService" ref="consultaAlumnoServiceImpl" />
	</bean>
	<bean id="consultaCursoBean" class="dev.com.matricula.bean.ConsultaCursoBean"
		scope="session">
		<property name="consultaCursoService" ref="consultaCursoServiceImpl" />
	</bean>
	<bean id="consultaDatoAlumnoBean" class="dev.com.matricula.bean.ConsultaDatoAlumnoBean"
		scope="session">
		<property name="consultaDatoAlumnoService" ref="consultaDatoAlumnoServiceImpl" />
	</bean>
	<bean id="consultaNotaBean" class="dev.com.matricula.bean.ConsultaNotaBean"
		scope="session">
		<property name="consultaNotaService" ref="consultaNotaServiceImpl" />
	</bean>
	<bean id="loginBean" class="dev.com.matricula.bean.LoginBean"
		scope="session">
		<property name="loginService" ref="loginServiceImpl" />
	</bean>
	<bean id="matriculaMantenimientoAlumnoBean" class="dev.com.matricula.bean.MatriculaMantenimientoAlumnoBean"
		scope="session">
		<property name="matriculaMantenimientoAlumnoService" ref="matriculaMantenimientoAlumnoServiceImpl" />
	</bean>
	<bean id="matriculaMantenimientoApoderadoBean"
		class="dev.com.matricula.bean.MatriculaMantenimientoApoderadoBean"
		scope="session">
		<property name="matriculaMantenimientoApoderadoService" ref="matriculaMantenimientoApoderadoServiceImpl" />
	</bean>
	<bean id="usuarioBean" class="dev.com.matricula.bean.UsuarioBean"
		scope="session">
		<property name="usuarioService" ref="usuarioServiceImpl" />
	</bean>
</beans>