input{
	font-size:12px;
	border: none;
	font: 80% sans-serif;
	background-color: transparent;
	right: 0px;
}
body {
	background: url(../image/fondo-acero.png);
	margin: 0;
	min-width: 1000px;
	position: relative;
}

#header {
	background-color: #2d6ca2;
	height: 160px;
	margin-bottom: 3px;
	position: relative;
	width: 100%;
}

/******MANEJA TUS ESTILOS CSS PARA LUEGO JUNTARLOS*****EMPIEZO DE ACA
PARA LA ESTRUCTURA DE CABECERA DE CONSULTA DE ALUMNOS***/
#estructuraCabecera {
	background-color: #036fab;
	color: white;
	height: 150px;
	min-width: "1000px";
	position: relative;
	vertical-align: top;
	width: 100%;
}

#estructuraCuerpo {
	background-color: #BDBDBD;
	float: left;
	margin: 0px 5px 5px 2px;
	min-height: 500px;
	padding: 5px;
	vertical-align: top;
	width: 180px;
}

#estructuraSemiCuerpo {
	background-color: #036fa1;
	border: 2px;
	float: right;
	height: 500px;
	margin: 0 2px 5px 0;
	min-higth: 500px;
	padding: 5px;
	vertical-align: top;
	width: 780px;
}

/*Inicio de modificación general de archivos de primerfaces*/

.panelP{
	font-size: 12px;
}
.panelGridH{
	font-size: 12px;
	text-align: left;
}
.panelMenuP{
	font-size: 12px;
	text-align: left;
}
.dataTableP{
	font-size: 12px;
	text-align: left;
}
.dialogP{
	font-size: 12px;
	text-align: left;
}
